#page {
  .project {
    margin: 10px;
    width: 220px;
    float: left;
    position: relative;

    .title {
      font-size: 20px;
      padding: 5px;
    }

    .stories {
      overflow-x: auto;
      overflow-y: hidden;
      .story {
        border: solid 1px #CCC;
        width: 200px;
        padding: 5px;
        height: 100px;
        position: relative;
        background: white;
      }
    }

    &.selected {
      width: 100%;
    }
  }
}