.projects {
  position: absolute;
  .project {
    margin: 10px 0 10px 10px;
    width: 220px;
    float: left;
    position: relative;

    .stories {
      overflow-x: auto;
      overflow-y: hidden;

      .story {
        border: solid 1px #CCC;
        width: 200px;
        padding: 5px;
        height: 100px;
        position: relative;
        background: white;
      }
    }
  }
}